{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

{% for listing in listings %}
    <div class="listing">
        <!-- Link to listing page -->
        <h3><a href="{% url 'listing_page' listing.id %}">{{ listing.title }}</a></h3>

        <p>{{ listing.description }}</p>
        <strong>Current Price: ${{ listing.current_price }}</strong>
        {% if listing.image_url %}
            <img src="{{ listing.image_url.url }}" alt="{{ listing.title }}">
        {% endif %}
    </div>
{% endfor %}

{% endblock %}